# Dependencies
node_modules/
build/

# Gleam
backend/tl_backend/build/

# GTFS raw data (large files)
data/gtfs_bus.zip
data/gtfs_bus/

# SvelteKit
frontend/tl-dashboard/.svelte-kit/

# OS
.DS_Store

# Env
.env
.env.*
